@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "GothamProRegular", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: min-content;
  margin: 0 auto;
  position: relative;
}

.canvas__icon {
  position: absolute;
  top: 4rem;
  right: 22.5rem;
  background-color: #ccc9c9;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 7rem;
  transition: .5s;
}

.canvas__icon:hover {
  font-size: 7.5rem;
  background-color: #9a9999;
}

.canvas__text {
  position: relative;
}

.canvas__text_num {
  position: absolute;
  top: -10rem;
  right: 19rem;
  color: #000000;
  font-size: 7rem;
}

.canvas__text_num span {
  font-size: .5em;
}

.canvas__text_percent {
  position: absolute;
  top: -10rem;
  right: 19rem;
  font-size: 3rem;
  color: #9a9999;
}

.canvas__text_black {
  position: absolute;
  top: -3rem;
  right: 15rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.canvas__text_yellow {
  position: absolute;
  top: 4rem;
  right: .23rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffdd00;
  width: 20rem;
  line-height: 140%;
  transition: .5s;
}

.canvas__text_yellow:hover {
  color: #f3c702;
}

.canvas__text_grey {
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 4.2rem;
  right: 9rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: #9a9999;
  width: 32rem;
  line-height: 125%;
}

.canvas__green {
  position: relative;
}

.canvas__green-text {
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 8.2rem;
  right: 22rem;
  color: #56a803;
  font-size: 2.5rem;
  line-height: 200%;
  transition: 1s;
}

.canvas__green-triangle {
  position: absolute;
  top: 10rem;
  right: 26.5rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.9rem solid #56a803;
  border-radius: 1rem;
  transition: .5s;
}

.canvas__green:hover > .canvas__green-triangle {
  animation: 1s ease-in-out jumping;
  backface-visibility: hidden;
}

.canvas__green:hover > .canvas__green-text {
  text-shadow: 1px 1px 2px #499201;
  transform: scale(1.02);
}

@keyframes jumping {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.unit {
  fill: none;
  transition: .5s;
  stroke-width: 1.5;
  stroke-linecap: round;
}

.unit-1 {
  stroke: #ffdd00;
  stroke-dasharray: 36 64;
  stroke-dashoffset: 20;
}

.unit-1:hover {
  stroke: #f3c702;
}

.unit-2 {
  stroke: #56a803;
  stroke-dasharray: 25 100;
  stroke-dashoffset: -16;
}

.unit-2:hover {
  stroke: #499201;
}

.unit-3 {
  stroke: #e9e9e9;
  stroke-dasharray: 28 100;
  stroke-dashoffset: -41;
}

.unit-3:hover {
  stroke: #ccc9c9;
}

.unit:hover {
  stroke-width: 1.8;
}

.line {
  position: absolute;
  top: 23rem;
  left: 2rem;
  fill: none;
  stroke: #9a9999;
  stroke-width: 2;
}

.chart__display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chart__display span {
  margin-right: .5rem;
  color: #ccc9c9;
  font-weight: 300;
}

.chart__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 35rem;
  position: absolute;
  top: 46rem;
  right: 8rem;
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

.chart__info-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 19.6rem;
  padding-top: .9rem;
}

.chart__info-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 23rem;
}

.chart__info-nums {
  margin-right: 1.5rem;
}

.chart__info-nums p {
  margin-bottom: .5rem;
}

.chart__info__icon {
  background-color: #9a9999;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.chart__info-table {
  width: 15rem;
  height: 6rem;
  background-color: #e9e9e9;
  border-radius: .5rem;
  border: 0.1rem solid #ccc9c9;
}
