@font-face
    font-family: "GothamProRegular"
    src: url("../fonts/GothamProRegular/GothamProRegular.eot")
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype")
    font-style: normal
    font-weight: normal

$color-black: #000000
$color-light-grey: #e9e9e9
$color-grey: #ccc9c9
$color-dark-grey: #9a9999

$color-yellow: #ffdd00
$color-dark-yellow: #f3c702

$color-green: #56a803
$color-dark-green: #499201

$text-shadow: 1px 1px 2px $color-dark-green

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5% // 1rem = 10px

body
    font-family: "GothamProRegular", sans-serif
    font-size: 1.6rem
    font-weight: 400
    color: $color-black

.canvas
    display: flex
    justify-content: center
    align-items: center
    max-width: 80rem
    margin: 0 auto
    position: relative
    &__icon
        position: absolute
        top: 4rem
        right: 37.5rem
        background-color: $color-grey
        -webkit-background-clip: text
        color: transparent
        font-size: 7rem
        transition: .5s
        &:hover
            font-size: 7.5rem
            background-color: $color-dark-grey
    &__text
        position: relative
        &_num
            position: absolute
            top: -10rem
            right: 19rem
            color: $color-black
            font-size: 7rem
            span
                font-size: .5em
        &_percent
            position: absolute
            top: -10rem
            right: 19rem
            font-size: 3rem
            color: $color-dark-grey
        &_black
            position: absolute
            top: -3rem
            right: 15rem
            font-size: 3.5rem
            font-weight: 700
        &_yellow
            position: absolute
            top: 4rem
            right: .23rem
            font-size: 2.5rem
            font-weight: 700
            color: #ffdd00
            width: 20rem
            line-height: 140%
            transition: .5s
            &:hover
                color: $color-dark-yellow
        &_grey
            font-family: "Arial", sans-serif
            position: absolute
            top: 4.2rem
            right: 9rem
            font-size: 1.5rem
            text-align: center
            font-weight: 500
            color: #9a9999
            width: 32rem
            line-height: 125%
    &__green
        position: relative
        &-text
            font-family: "Arial", sans-serif
            position: absolute
            top: 8.2rem
            right: 22rem
            color: $color-green
            font-size: 2.5rem
            line-height: 200%
            transition: 1s
        &-triangle
            position: absolute
            top: 10rem
            right: 26.5rem
            width: 0
            height: 0
            border-left: 1rem solid transparent
            border-right: 1rem solid transparent
            border-bottom: .9rem solid $color-green
            border-radius: 1rem
            transition: .5s

.canvas__green:hover > .canvas__green-triangle
    animation: 1s ease-in-out jumping
    backface-visibility: hidden

.canvas__green:hover > .canvas__green-text
    text-shadow: $text-shadow
    transform: scale(1.02)

@keyframes jumping
    0%
        transform: translateY(7px)
    50%
        transform: translateY(-10px)
    100%
        transform: translateY(0)

.unit
    fill: none
    transition: .5s
    stroke-width: 1.5
    stroke-linecap: round
    &-1
        stroke: $color-yellow
        stroke-dasharray: 36 64
        stroke-dashoffset: 20
        &:hover
            stroke: $color-dark-yellow
    &-2
        stroke: #56a803
        stroke-dasharray: 25 100
        stroke-dashoffset: -16
        &:hover
            stroke: $color-dark-green
    &-3
        stroke: $color-light-grey
        stroke-dasharray: 28 100
        stroke-dashoffset: -41
        &:hover
            stroke: $color-grey
    &:hover
        stroke-width: 1.8


.line
    position: absolute
    top: 23rem
    left: 17rem
    fill: none
    stroke: $color-dark-grey
    stroke-width: 2